<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Route66DB" connectionString="Server=MININT-Q402KBI;Database=Route66DB;Persist Security Info=True;User ID=admin;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="Route66_Administration.Properties.Settings.Route66DBConnectionString"
      connectionString="Data Source=MININT-Q402KBI;Initial Catalog=Route66DB;Persist Security Info=True;User ID=admin;Password=admin1234"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>